* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.65;
  --gray-600: #717FA6;
  --purple-500: #766CF1;
  --blue-950: #1F2E55;
  --blue-700: #382AE1;
  --blue-150: #D6E1FF;
  --blue-100: #E0E8FF;
  --blue-50: #F7F9FF;
  background-color: var(--blue-100);
}

img,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

main {
  height: 100%;
  display: grid;
  place-items: center;
  padding-block: 24px;
}

.bg-pattern-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.bg-pattern-desktop {
  display: none;
}

@media (min-width: 640px) {
  .bg-pattern-mobile {
    display: none;
  }

  .bg-pattern-desktop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
  }
}

article {
  background-color: white;
  border-radius: 20px;
  max-width: 28.125rem;
  margin-inline: 24px;
  box-shadow: 0 40px 40px -20px rgba(13, 48, 189, 0.1518);
}

article>img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-content {
  padding: 32px 24px 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  font-size: 1.375rem;
  font-weight: 900;
  line-height: 1.35;
  color: var(--blue-950);
}

.card-header p {
  color: var(--gray-600);
  font-size: .9375rem;
  font-weight: 500;
}

.plan-info {
  background-color: var(--blue-50);
  border-radius: 11px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.plan-info img {
  width: 48px;
  height: 48px;
}

.plan-details {
  text-align: left;
  flex-grow: 1;
}

.plan-details h2 {
  font-size: 1rem;
  font-weight: 900;
  color: var(--blue-950);
}

.plan-details p {
  font-size: 1rem;
  color: var(--gray-600);
  font-weight: 500;
}

.change {
  color: var(--blue-700);
  font-weight: 700;
  font-size: 1rem;
  align-self: center;
  text-decoration: underline;
}

.change:hover {
  color: var(--purple-500);
}

.payment {
  background-color: var(--blue-700);
  box-shadow: 0 20px 20px 0 rgba(56, 42, 225, 0.19);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px;
  border-radius: 11px;
}

.payment:hover {
  background-color: var(--purple-500);
}

.cancel {
  color: var(--gray-600);
  font-weight: 700;
  font-size: .9375rem;
}

.cancel:hover {
  color: var(--blue-950);
  font-weight: 900;
}

@media (min-width: 640px) {

  .card-content {
    padding: 48px;
    gap: 32px;
  }

  h1 {
    font-size: 1.75rem;
  }

  .plan-info {
    margin-top: -16px;
    padding: 24px;
  }
}